.pypirc
dist/
.idea
*.pyc
__pycache__
db.sqlite3
media/
.DS_Store
venv
env
.env
./.env
*.log
/staticfiles/
.vscode/
flake8_results.txt
/html_source/
docker/data/
postgres_data
django_seeding_data.egg-info
